.idea/
.terraform/

*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfvars

!/terraform-state-bucket/terraform.tfstate

backend.tf
override.tf
override.tf.json
*_override.tf
*_override.tf.json

crash.log
